@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-list li {
    background-image: url('../assets/checkIcon.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 2rem;
    /* Adjust based on image size */
    background-size: 1.5rem;
    /* Adjust based on your preference */
    line-height: 1.5rem;
}

footer {
    padding: 20px;
    color: #333;
    /* Adjust as needed */
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo,
.footer-links,
.footer-app {
    flex: 1;
    min-width: 250px;
    /* Adjust minimum width as needed */
    padding: 10px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    gap: 10px;
}

.link-section ul {
    list-style-type: none;
    padding: 0;
}

.link-section li a {
    color: inherit;

    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}

.social-links img {
    width: 20px;
    height: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: start;
    }

    .footer-links {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}